// --- about -------------------------------------------------------------------

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-width: 20em;
  text-transform: uppercase;

  &__name {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 1;
    margin: 0;
    text-transform: none;
  }

  &__title {
    font-size: 1em;
    font-weight: 300;
    margin: .3em 0;
  }

  &__location {
    color: rgba($color-white, .5);
    font-size: .85em;
  }
}
