// --- bottom ----------------------------------------------------------------------------------------------------------

.bottom {
  border-top: .0625rem solid $color-gray-light;
  color: $color-gray;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 0;
}
