// --- bottom ----------------------------------------------------------------------------------------------------------

.bottom {
  border-top: .0625em solid $color-gray-light;
  color: $color-gray;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  padding: 2em 0;
}
