// --- bottom ----------------------------------------------------------------------------------------------------------

.bottom {
  align-items: center;
  border-top: .0625rem solid rgba($color-gray-light, .4);
  color: $color-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 0;
}
