// --- post --------------------------------------------------------------------

.post {
  &__content {
    ol,
    ul,
    p {
      margin-bottom: 1.625em;
      margin-top: 1.625em;
    }

    li,
    p {
      line-height: 1.625em;
    }
  }
}
