// --- posts -------------------------------------------------------------------

.posts {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border-top: .0625em solid #d7d7d7;
    padding: 1em 0;

    &:first-of-type {
      border-top: 0;
    }
  }
}
