// --- post --------------------------------------------------------------------

.post {
  &__title {
    font-size: 2.5em;
  }

  &__title-link {
    text-decoration: none;
  }

  &__content {
    ol,
    ul,
    p {
      margin-bottom: 1.625em;
      margin-top: 1.625em;
    }

    li,
    p {
      line-height: 1.625em;
    }

    img {
      display: block;
      height: auto;
      left: 50%;
      max-width: 126%;
      padding: .6em 0;
      position: relative;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  &__footer {
    display: flex;
    font-size: .875em;
    justify-content: space-between;
  }

  &__footer-link {
    letter-spacing: .03em;
  }

  &--list {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &--list &__title {
    font-size: 1.4em;
    margin: 0;
  }

  &--list &__time {
    margin-left: 1em;
    white-space: nowrap;
  }
}
