// --- post --------------------------------------------------------------------

.post {
  &__title {
    font-size: 1.5em;
  }

  &__title-link {
    text-decoration: none;
  }

  &__content {
    ol,
    ul,
    p {
      margin-bottom: 1.625em;
      margin-top: 1.625em;
    }

    li,
    p {
      line-height: 1.625em;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;

      @media only screen and (min-width: 48em) {
        left: 50%;
        max-width: 130%;
        position: relative;
        transform: translateX(-50%);
        width: 120%;
      }
    }
  }

  &__footer {
    display: flex;
    font-size: .875em;
    justify-content: space-between;
  }

  &__footer-link {
    letter-spacing: .03em;
  }
}
