// --- top -------------------------------------------------------------------------------------------------------------

.top {
  align-items: center;
  background-image: url('/images/bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 10em;
  justify-content: center;
  margin-bottom: 1em;

  &__name {
    color: $color-gray-dark;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    text-transform: none;

    &:active,
    &:hover,
    &:focus {
      color: $color-gray-dark;
      text-decoration: none;
    }

    @media screen and (min-width: 30em) {
      font-size: 2em;
    }
  }
}
