// --- top -------------------------------------------------------------------------------------------------------------

.top {
  align-items: center;
  background-image: url('/images/bg.jpg'), linear-gradient(#c1c0c5 0%, #c1c0c5 40%, #585b65 100%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 10rem;
  justify-content: center;
  margin-bottom: 1rem;
}

a.top__name {
  color: $color-white;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .05rem;
  line-height: 1;
  margin: 0;
  text-decoration: none;
  text-transform: none;

  &:active,
  &:hover,
  &:focus {
    color: $color-white;
    text-decoration: none;
  }

  @media screen and (min-width: 30rem) {
    font-size: 2rem;
  }
}

.top--small {
  background-image: url('/images/bg-small-mobile.jpg'), linear-gradient(#b1b0b5 0%, #b1b0b5 40%, #6b6e75 100%);

  @media screen and (min-width: 30rem) {
    background-image: url('/images/bg-small.jpg'), linear-gradient(#b1b0b5 0%, #b1b0b5 40%, #6b6e75 100%);
  }
}
