// --- icons -------------------------------------------------------------------

.icon {
  display: block;
  height: 2em;
  width: 2em;

  &--links {
    fill: $color-gray;
    height: 1.2em;
    padding: .5em;
    width: 1.2em;

    &:hover {
      fill: $color-gray-dark;
    }
  }
}
