// --- icons -------------------------------------------------------------------

.icon {
  display: block;
  height: 1em;
  width: 1em;

  &--links {
    fill: #444;
    padding: .5em;

    &:hover {
      fill: #000;
    }
  }
}
