<!DOCTYPE html>
<html lang="en">
<head>
  {% include head_blog.html %}
</head>
<body>
  {% include header_blog.html title=site.blog.title post=true %}

  <main class="layout">
    <article class="post">
      <header class="post__header">
        <h1 class="post__title">{{ page.title }}</h1>
      </header>
      <div class="post__content">
        {{ content }}
      </div>
    </article>

    {% if page.comments %}
      {% include disqus.html %}
    {% endif %}
  </main>

  {% include footer_blog.html %}
</body>
</html>
