// --- blog --------------------------------------------------------------------

body {
  background: rgba($color-gray-light, .2);
  color: $color-gray-dark;
}

a {
  &,
  &:visited,
  &:focus {
    color: $color-gray-dark;
    text-decoration: underline;
  }

  &:hover {
    color: $color-gray;
  }
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  letter-spacing: .03em;
  line-height: 1.2;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

figure,
pre {
  margin: 0;
}
