// --- variables ---------------------------------------------------------------

$color-white:         #fff;
$color-gray-light:    #d2d1d2;
$color-gray:          #7f7f7f;
$color-gray-dark:     #343434;

$font-body:           Roboto, sans-serif;
$font-monospace:      Monaco, monospace;
